/* ---------------------------------------------------------------------------------GENERAL------------------ */
@font-face {
    font-family:Gotham;
    src: url(/Fonts/Gotham-Thin.otf);
}
html {
    scroll-behavior: smooth;
}
.container {
    background-image: url("/Images/Background.png");
    background-repeat: no-repeat;
    background-size: 2000px;
    background-attachment: fixed;
}
/* -----------------------------------------------------------------------------HEADER ELEMENTS-------------- */
.header {
    display: flex;
    justify-content: center;   
    height: 100px;   
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    line-height: 80px;
    position: fixed;
}
.nav_link {
    font-family:Gotham;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 253, 253);
    text-decoration: none;
}
.nav_link1:hover {
    font-family:Gotham;
    font-size: 25px;
    font-weight: bold;
    color: rgb(158, 158, 160);
    text-decoration: none;
    transition: 0.4s;
}
/* ----------------------------------------------------------------------------ABOUT--------------- */
#intro_page {
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.intro_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.name_first {
    color: rgb(187, 184, 184);
    font-family:Gotham;
    font-size: 120px;
    padding:180px 10px 10px 10px ;
}
.name_last {
    color: rgb(3, 3, 3);
    font-family: Gotham;
    font-size: 80px;
    padding:40px 10px;
}
.intro_titles_block {
    display: flex;
    flex-direction: column;
    position: relative; top: -50x;     
}
.intro_title {
    display: flex;
    justify-content: center;
    font-family: Gotham;
    color: white;
    font-size: 30px;
}
.intro_socialmedia_links {
    display: flex;
    justify-content: center;
    position: relative; top: 60px; 
}
.link_button_white {
    border: 1px solid rgb(224, 224, 224);
    background-color: rgba(59, 64, 37, 0.1);
    padding: 6px 30px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;  
    font-family: Verdana;
    vertical-align: middle;
    text-decoration: none;
}
.link_button_black {
    border: 1px solid rgb(6, 6, 6);
    background-color: rgba(59, 64, 37, 0.1);
    padding: 6px 30px;
    color: black;
    font-size: 16px;
    text-transform: uppercase;  
    font-family: Verdana;
    vertical-align: middle;
    text-decoration: none;
}
/* ----------------------------------------------------------------------------EDUCATION--------------- */
#education_page {
    display: flex;
    flex-direction: column;
    height: 1000px;
    background-color: rgb(82, 82, 94);
}
.education_page_title_block {
    display: flex;
    background-color: blue;
    justify-content: center;
}
.education_title_text {
    color: white;
    font-family: Gotham;
    font-size: 30px;
    padding: 150px;
    background-color: blueviolet;
}
/* ----------------------------------------------------------------------------PROJECTS--------------- */
#projects_page {
    display: flex;
    flex-direction: column;
    height: 1000px; 
}
.projects_page_title_block {
    display: flex;
    background-color: blue;
    justify-content: center; 
}
.projects_title_text {
    color: white;
    font-family: Gotham;
    font-size: 30px;
    padding: 150px;
    background-color: blueviolet;
}
.header_spacer {
    height: 100px; 
}
.project_block {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(73, 144, 123);
    height:860px;
}
.project_name {
    display: flex;
    flex-direction: row;
    font-family: Gotham;
    font-size: 40px;
    color: black;
    justify-content: center;
    padding: 90px 0px 0px 0px;
}
.project_name_white {
    display: flex;
    flex-direction: row;
    font-family: Gotham;
    font-size: 40px;
    color: white;
    justify-content: center;
    padding: 90px 0px 0px 0px;
}
.project_tools {
    display: flex;
    flex-direction: row;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    color: black;
    justify-content: center;
}
.project_tools_white {
    display: flex;
    flex-direction: row;
    font-family: Gotham;
    font-size: 20px;
    font-weight: bold;
    color: white;
    justify-content: center;
}
.socialmedia_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.project_block_virtualpet {
    display: flex;
    flex-direction: column;
    background-image: url("/Images/Robot1.png");
    background-size: cover;
}
.project_block_reviewsite {
    display: flex;
    flex-direction: column;
    background-image: url("/Images/Review1.png");
    background-size: cover;
}
.project_block_portfolio {
    display: flex;
    flex-direction: column;
    background-image: url("/Images/Code1.png");
    background-size: cover;
}
.project_block_finalproject {
    display: flex;
    flex-direction: column;
    background-image: url("/Images/Pen1.png");
    background-size: cover;
}
/* ----------------------------------------------------------------------------SKILLS --------------- */
#skills_page {
    display: flex;
    flex-direction: column;
    height: 1000px;
    /* background-color: rgb(82, 82, 94); */
}
/* .skills_page_title_block {
    display: flex;
    background-color: blue;
    justify-content: center;
} */
/* .skills_title_text {
    color: white;
    font-family: Gotham;
    font-size: 30px;
    padding: 100px;
    background-color: blueviolet;
} */
.tech_skill_icons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* background-color:black; */
    position: relative; top: 150px; 
}
.icon_style {
   padding: 50px;
}
.skill_list {
    color: white;
 }
/* ----------------------------------------------------------------------------RESUME --------------- */
#resume_page {
    display: flex;
    flex-direction: column;
    height: 1000px;
    /* background-color: rgb(82, 82, 94); */
}
.resume_page_title_block {
    display: flex;
    background-color: blue;
    justify-content: center;
    
}
.resume_title_text {
    color: white;
    font-family: Gotham;
    font-size: 30px;
    padding: 150px;
    background-color: blueviolet;
}
.resume_block {
    display: flex;
    justify-content: center;
    position: relative; top: 120px; 
}
.resume_pdf {
    border: 2px white;
    background-color: blue;
    
}
/* ----------------------------------------------------------------------------CONTACT--------------- */
#contact_page {
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    justify-content: center;
}
.contact_page_title_block {
    display: flex;
    justify-content: center;  
    position: relative; top: -120px;  
}
.contact_title_text {
    color: white;
    font-family: Gotham;
    font-size: 30px;
    position: relative; top: 100px; 
}
.contact_form {
    width: 90%;
    max-width: 600px;
    position: relative; top: 50px;
}
.input_group {
    margin-bottom: 30px;
    position: relative;
}
input, textarea {
    width: 96%; /*doesnt make sense */
    padding: 10px;
    outline:0;
    border:1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}
label{
    height:100%;
    position: absolute;
    left:0;
    top:0;
    padding: 10px;
    color: #cbcaca;
    cursor: text;
    font-family: Gotham;
}
button {
    padding: 10px;
    color: #fff;
    outline: none;
    background: transparent;
    border:1px solid #fff;
    width: 100%;
    cursor: pointer;
}
.contact_links {
    position: relative; top: 100px; 
}

.icon_style_link {
    padding: 30px;
 }
/* ----------------------------------------------------------------------------FOOTER--------------- */
.footer_block {
    display: flex;
    justify-content: center;
  }
.footer_year {
   color: white;
 }
 .footer_link {
    color: white;
  }